## Hypothesis testing

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- **Has the network latency gone up since we switched internet service providers?**

$H_0$: There is not relationship between the network speed and switching the internet service providers

$H_a$: The network speed decreased after switching internet service providers

*True negative:* There is no relationship between the internet service providers and network speed, and we don't switch provider back

*True positive:* The network speed decreased after switching internet providers and we returned to the previous provider

*Type I error (False positive):* The network speed didn't change but we thought different and returned to the old provider

*Type II error (False negative):* The network speed decreased but we didn't confirm it and stayed with the new internet service provider

In [1]:
#class solution

Variables: discrete and continuous. Testing difference

$H_0$: $\mu(latency_a) <= \mu(latency_b)$

$H_a$: $\mu(latance_a) > \mu(latency_b)$

*True positive:* latency went up and we said it went up

*True negative:* latency didn't go up and we said it didn't go up

*Type I (False positive):* latency didn't go up but we said it did

*Type II (False negative):* latency did go up, but we said it didn't

- **Is the website redesign any good?**

$H_0$: There is no difference between the time visitors spend on the site before and after the redesign

$H_a$: Visitors spend more time on the site after it was redesigned

*True negative:* There is no difference between site redesign and increasing of time spending on the site, updating of the site is not needed

*True positive:* There is a differerence between the redesign and the time visitors spend time on the site, we need to update

*Type I error (False positive):* There is no difference between site redesign and increasing of time spending on the site, but we thought differently and spent exra money on the site update

*Type II error (False negative):* There is a differerence between the redesign and the time visitors spend time on the site, but we didn't recognize it and missed the opportunity to update our site

In [ ]:
#class

Variables discrete (old and new design) and conitnuos (time spent ob the web site)

$H-0$: time spent on the old site >= time spent on the new site

$H_a$: time spent on the old site < time spent on the new site

*TP:* Visiotrs spend more time on the new site and we said so

*TN:* Visitors spend less or equal time and we said 

*T1:* We said the site is better but it's not

*T2:* Time spent increased but we still concoder the redesign bad

- **Is our television ad driving more sales?**

$H_0$: The amount of sales didn't change since the beginning of tv marketing campaign 

$H_a$: There is an increase of sales since the beginning of tv marketing campaign 

*True negative:* The amount of sales didn't change since the beginning of tv marketing campaign and we don't continue this campaign

*True positive:* The amount of sales increased since the beginning of tv marketing campaign and we continue this campaign

*Type I error (False positive):* The amount of sales didn't change since the beginning of tv marketing campaign but we decided to continue this campaign

*Type II error (False negative):* The amount of sales increased since the beginning of tv marketing campaign but we cancel the campaign

Discrete var (pre-ads), continuous var (sales)
$H_0$: avg pre-ad >= avg post-ad

$H_a$: avg pre-ad < avg post-ad

*TP:* sales increased after ad and we said that

*TN:* sales didn't

*T1:* sales didn't increase, but we said they did

*T2:* ads seem to work but we didn't think so

### Part 2

1. **Answer with the type of test you would use (assume normal distribution):**

- Is there a difference in grades of students on the second floor compared to grades of all students?

*Two tailed one sample T-test ```scipy.stats.ttest_1samp```, check if* $p-value < \alpha$

- Are adults who drink milk taller than adults who dont drink milk?

*One tailed two sampled (or independent) T-test ```stats.ttest_ind```. Check if all assumptions met. In case we can not apply T-test, use Mann-Whitney U test ```stats.mannwhitneyu```*

- Is the the price of gas higher in texas or in new mexico?

*Same as above. One tailed two sampled (or independent) T-test ```stats.ttest_ind```. Preferable to use T-test and pass ```equal_var == False``` in case variances differ a lot.*

- Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

*If all assumptions met (independent samples, equal variances, normal distribution) we use ANOVA analysis ```stats.f_oneway```, otherwise Kruskall Wallis test ```stats.kruskal```

In [31]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

2. **Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.**

$H_0$: there is no significant difference in the average time it takes for office 1 and office 2 to sell homes

$H_a$: there is a difference in the time it take to sell homes for office 1 and office 2

In [11]:
office1 = stats.norm(90, 15).rvs(40).astype(int)
office2 = stats.norm(100, 20).rvs(50).astype(int)

In [55]:
#significance level = 0.05

Î± = 0.05

Verify assumptions for 2-tailed independent T-test (indepent, normal). To verify that variances are equal run Levene test. Return the 2nd value, which is going to be p-value for variances. If the returned result > 0.05, we can assume that variances are equal:

In [19]:
stats.levene(office1, office2)[1]

0.18243347772960214

P-value for variances is 0.18 and it's bigger that 0.05, we can use paraetric T-test

In [69]:
#run the Independent T-test
t, p = stats.ttest_ind(office1, office2)
(t, p)

(-2.1038439883896936, 0.038245315037194326)

In [71]:
if p < Î± and t < 0:
    print('There is a difference in the time it takes to sell homes. It takes more time for office #')
elif p < Î± and t > 0:
    print('There is a difference in the time it takes to sell homes. It takes more time for office #')
else:
    print('There is no significant difference in the time it takes to sell homes between 2 offices. \
We fail to reject the Null Hypothesis.')

There is a difference in the time it takes to sell homes. It takes more time for office #

2. **Load the mpg dataset and use it to answer the following questions:**

In [32]:
mpg = data('mpg')

In [33]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [40]:
mpg['fuel_eff'] =  round(2 / ((1/mpg.hwy) + (1/mpg.cty)), 2)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_eff
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.21
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.36
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.31
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,24.71
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,19.81

In [41]:
models1999 = mpg[mpg.year == 1999].fuel_eff

In [44]:
models1999.head()

1    22.21
2    24.36
5    19.81
6    21.27
8    21.27
Name: fuel_eff, dtype: float64

In [46]:
models2008 = mpg[mpg.year == 2008].fuel_eff

In [52]:
#check if variances are equal
stats.levene(models1999, models2008)[1] 
#p-value is 0.86, we can consider variances eual and use ind. T-tes

0.8604763910415811

$H_0$: models1999 == models2008

$H_a$: models1999 != models2008

In [73]:
t1, p1 = stats.ttest_ind(models1999, models2008)
(t1, p1)

(0.29976841281243016, 0.7646222117552022)

In [75]:
if p1 / 2 < Î± and t1 < 0:
    print('Cars from 1999 were more fuel efficient')
if p1 / 2 < Î± and t1 > 0:
    print('Cars from 2008 are more fuel efficient')
else:
    print('There is no significant difference in the fuel efficiency between cars from 1999 and cars from 2008')

There is no significant difference in the fuel efficiency between cars from 1999 and cars from 2008

- Are compact cars more fuel-efficient than the average car?

$H_0$: compact eff <= avg eff

$H_a$: compact eff > avg eff

One tailed, 1 sampled t-test

In [58]:
total_mean = round(mpg.fuel_eff.mean(), 2)
total_mean

19.59

In [63]:
compact_cars.mean()

23.500212765957446

In [60]:
compact_cars = mpg[mpg['class'] == 'compact'].fuel_eff
compact_cars.head()

1    22.21
2    24.36
3    24.31
4    24.71
5    19.81
Name: fuel_eff, dtype: float64

In [62]:
tcompact, pcompact = stats.ttest_1samp(compact_cars, total_mean)
(tcompact, pcompact)

(7.5022246266558446, 1.6170060887332524e-09)

In [65]:
# We use one tailed test, p-value / 2 < alpha

if pcompact/ 2 < Î± and pcompact > 0:
    print('Compact cares are more fuel efficient')
else:
    print('There is no significant difference in the fuel efficiency between compact cars and other cars')

Compact cares are less fuel efficient

- Do manual cars get better gas mileage than automatic cars?

$H_0$: fuel_eff(manual) <= fuel_eff(auto)

$H_a$: fuel_eff(manual) > fuel_eff(auto)

*One tailed, 2 sampled*

In [78]:
manual = mpg[mpg.trans.str.contains('manual')].fuel_eff

In [80]:
auto = mpg[mpg.trans.str.contains('auto')].fuel_eff

In [81]:
stats.levene(manual, auto)[1] # p-value > alpha, variances are ok

0.9068872019462125

In [82]:
ttrans, ptrans = stats.ttest_ind(manual, auto)
(ttrans, ptrans)

(4.652099934834949, 5.522151036980458e-06)

In [83]:
if ptrans / 2 < Î± and ttrans > 0:
    print('The manual cars get better gas mileage')
else:
    print('There is no difference')

The manual cars get better gas mileage